.wrapper {
    min-height: 550px;
    padding: 10px;      
    background: url('./../assets/images/accounts-bg5.jpg');
}
footer {
    p {
        text-align: center;
    }
}
nav {
    img {
        width: 20px;
        position: relative;
        top: 1px;
        right: 6px;
    }
}