<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="./../assets/svg/accountant.svg" />
  <a class="navbar-brand" routerLink="/">Easy Accountant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Master
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/currency">Currency</a>
          <a class="dropdown-item" routerLink="/location">Location</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Account</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/journal">Manual Journal</a>
          <a class="dropdown-item" href="#">Receipts</a>
          <a class="dropdown-item" href="#">Payments</a>
          <a class="dropdown-item" href="#">Credit Note</a>
          <a class="dropdown-item" href="#">Debit Note</a>
          <a class="dropdown-item" href="#">Sales Invoice</a>
          <a class="dropdown-item" href="#">Purchase Invoice</a>
          <a class="dropdown-item" href="#">AR Allocation</a>
          <a class="dropdown-item" href="#">Purchase Invoice</a>   
          <a class="dropdown-item" href="#">Bank Reconciliation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Reports</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!--The content below is only a placeholder and can be replaced.-->
<div class='wrapper'>
    <router-outlet></router-outlet>
</div>

<footer>
    <p>© 2018 Bala Inc. All Rights Reserved.</p>
</footer>