<div class="add_box" (click)="addCurrency()"><i class="material-icons plus">add_box</i></div>
<div *ngIf="currencies && currencies.length">
  <p-table [value]="currencies">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th [pSortableColumn]="'code'">
          Currency Code 
          <p-sortIcon 
            [field]="'code'" ariaLabel="Activate to sort" 
            ariaLabelDesc="Activate to sort in descending order" 
            ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </th>
        <th>Currency Name</th>
        <th>Base Currency</th>
        <th>Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-currency>
      <tr>
        <td>{{currency.id}}</td>
        <td>{{currency.code}}</td>
        <td>{{currency.name}}</td>
        <td>
          <mat-slide-toggle
            [color]="'blue'"
            [disabled]="true"
            [(ngModel)]="currency.base">
          </mat-slide-toggle>
        </td>
        <td>
          <div (click)="deleteItem($event, currency)" class="delete"> <i class="material-icons">delete_outline</i> </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

