/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
// @import "../node_modules/primeng/resources/themes/redmond/theme.css";
// @import "../node_modules/primeng/resources/primeng.min.css";
// @import "../node_modules/font-awesome/css/font-awesome.min.css";
// @import "../node_modules/primeicons/primeicons.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.ui-paginator-page {
    padding: 0cm 0cm !important;
}

.snack-bar-color {
    background-color: #ffffff !important;
    color: #000;
  
    button {
      color: blue;
    }
  }
  .ui-datatable .ui-datatable-data tr.ui-state-highlight {
      background: lightblue !important;
  }

  .material-icons {
      color: #696969;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: blue;
  }
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: lightblue;
  }