<h2 mat-dialog-title>Currency</h2>
<mat-dialog-content>
  <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.id" type="number" placeholder="Currency Id">
  </mat-form-field> -->
  <mat-form-field>
    <input matInput [(ngModel)]="data.code" placeholder="Currency Code">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name" placeholder="Currency Name">
  </mat-form-field> 
  <mat-slide-toggle
    [color]="'blue'"
    [(ngModel)]="data.base">
  Base
  </mat-slide-toggle>
</mat-dialog-content>
<mat-dialog-actions>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="data">Save</button>
  <button mat-button [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>
